.steps_img, .note_img, .body_img {
    max-width: 100%;
    max-height: 80%;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.body_warning_bold {
    font-weight: bold;
    color: red;
}

.body_em {
    font-style: italic;
}

.body_main_text {
    
}

.body_link {
    text-decoration: none;
    font-weight: bold;
}

.body_link:hover {
    text-decoration: underline;
    font-weight: bold;
}

.body_img {
    
}

.sidebyside {
    
}

.side_text {
    
}

.side_img {
    float: right;
    clear: right;
}

.clearfix {
    display: block;
    clear: both;
}

.steps_ol {
    
}

.steps_ul {
    
}

.steps_li {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.steps_img {
    
}

.note_ul {
    list-style-type: none;
}

.note_ol {

}

.note_li {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.note_img {

}

.item_list {
    list-style-type: square;
}

.item_list_item {
    
}
