#toc {
	list-style-type: none;
    padding-left: 8px;
}

.toc_item {
    padding-bottom: 1em;
}

.toc_title {
    font-size: medium;
}

.toc_desc {
    font-size: small;
}

.toc_link {
    text-decoration: none;
}

.toc_link:hover {
    text-decoration: underline;
}
