<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DiskUtilityToolbar</key>
	<dict>
		<key>allowedItemIdentifiers</key>
		<array>
			<string>DUToolbarVerifyImage</string>
			<string>DUToolbarInfoDisk</string>
			<string>DUToolbarBurnImage</string>
			<string>DUToolbarMountDisk</string>
			<string>DUToolbarEjectDisk</string>
			<string>DUToolbarEnableJournalDisk</string>
			<string>NSToolbarSeparatorItemIdentifier</string>
			<string>DUToolbarNewImage</string>
			<string>DUToolbarConvertImage</string>
			<string>DUToolbarResizeImage</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>DUToolbarOpenLog</string>
		</array>
		<key>defaultItemIdentifiers</key>
		<array>
			<string>DUToolbarVerifyImage</string>
			<string>DUToolbarInfoDisk</string>
			<string>DUToolbarBurnImage</string>
			<string>DUToolbarMountDisk</string>
			<string>DUToolbarEjectDisk</string>
			<string>DUToolbarEnableJournalDisk</string>
			<string>NSToolbarSeparatorItemIdentifier</string>
			<string>DUToolbarNewImage</string>
			<string>DUToolbarConvertImage</string>
			<string>DUToolbarResizeImage</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>DUToolbarOpenLog</string>
		</array>
		<key>itemInfoByIdentifier</key>
		<dict>
			<key>DUToolbarResizeImage</key>
			<dict>
				<key>action</key>
				<string>resizeImageToolbarAction:</string>
				<key>imageName</key>
				<string>ResizeImage</string>
				<key>label</key>
				<string>Resize Image</string>
				<key>paletteLabel</key>
				<string>Resize Image</string>
				<key>toolTip</key>
				<string>Resize disk image</string>
			</dict>
			<key>DUToolbarBurnImage</key>
			<dict>
				<key>action</key>
				<string>burnImageToolbarAction:</string>
				<key>imageName</key>
				<string>burn</string>
				<key>label</key>
				<string>Burn</string>
				<key>paletteLabel</key>
				<string>Burn</string>
				<key>toolTip</key>
				<string>Burn CD/DVD from disk image</string>
			</dict>
			<key>DUToolbarChecksumImage</key>
			<dict>
				<key>action</key>
				<string>checksumImageToolbarAction:</string>
				<key>imageName</key>
				<string>ChecksumDevice</string>
				<key>label</key>
				<string>Checksum</string>
				<key>paletteLabel</key>
				<string>Checksum</string>
				<key>toolTip</key>
				<string>Calculate the checksum of a device or disk image</string>
			</dict>
			<key>DUToolbarConvertImage</key>
			<dict>
				<key>action</key>
				<string>convertImageToolbarAction:</string>
				<key>imageName</key>
				<string>ConvertImage</string>
				<key>label</key>
				<string>Convert</string>
				<key>paletteLabel</key>
				<string>Convert</string>
				<key>toolTip</key>
				<string>Convert a disk image into a different format</string>
			</dict>
			<key>DUToolbarEjectDisk</key>
			<dict>
				<key>action</key>
				<string>ejectDiskToolbarAction:</string>
				<key>imageName</key>
				<string>Eject</string>
				<key>label</key>
				<string>Eject</string>
				<key>paletteLabel</key>
				<string>Eject</string>
				<key>toolTip</key>
				<string>Eject a CD/DVD or other ejectable media</string>
			</dict>
			<key>DUToolbarEnableJournalDisk</key>
			<dict>
				<key>action</key>
				<string>enableJournalDiskToolbarAction:</string>
				<key>imageName</key>
				<string>EnableJournal</string>
				<key>label</key>
				<string>Enable Journaling</string>
				<key>paletteLabel</key>
				<string>Enable Journaling</string>
				<key>toolTip</key>
				<string>Enable HFS Journaling for a volume</string>
			</dict>
			<key>DUToolbarInfoDisk</key>
			<dict>
				<key>action</key>
				<string>infoDiskToolbarAction:</string>
				<key>imageName</key>
				<string>NSInfo</string>
				<key>label</key>
				<string>Info</string>
				<key>paletteLabel</key>
				<string>Info</string>
				<key>toolTip</key>
				<string>Gather extra information about a disk or device</string>
			</dict>
			<key>DUToolbarMountDisk</key>
			<dict>
				<key>action</key>
				<string>mountDiskToolbarAction:</string>
				<key>imageName</key>
				<string>Mount</string>
				<key>label</key>
				<string>Mount</string>
				<key>paletteLabel</key>
				<string>Mount/Unmount</string>
				<key>toolTip</key>
				<string>Mount or unmount a disk</string>
			</dict>
			<key>DUToolbarNewImage</key>
			<dict>
				<key>action</key>
				<string>newImageToolbarAction:</string>
				<key>imageName</key>
				<string>NewImage</string>
				<key>label</key>
				<string>New Image</string>
				<key>paletteLabel</key>
				<string>New Image</string>
				<key>toolTip</key>
				<string>Create a disk image from disk or device</string>
			</dict>
			<key>DUToolbarOpenLog</key>
			<dict>
				<key>action</key>
				<string>openLogToolbarAction:</string>
				<key>imageName</key>
				<string>log</string>
				<key>label</key>
				<string>Log</string>
				<key>paletteLabel</key>
				<string>Log</string>
				<key>toolTip</key>
				<string>Open the log window</string>
			</dict>
			<key>DUToolbarVerifyImage</key>
			<dict>
				<key>action</key>
				<string>verifyImageToolbarAction:</string>
				<key>imageName</key>
				<string>VerifyImage</string>
				<key>label</key>
				<string>Verify</string>
				<key>paletteLabel</key>
				<string>Verify</string>
				<key>toolTip</key>
				<string>Verify a disk image</string>
			</dict>
		</dict>
	</dict>
	<key>LogWindowToolbar</key>
	<dict>
		<key>allowedItemIdentifiers</key>
		<array>
			<string>LSToolbarClearItem</string>
			<string>LSToolbarReloadItem</string>
			<string>LSToolbarDeleteItem</string>
			<string>LSToolbarInsertMarker</string>
			<string>LSToolbarEncodingItem</string>
			<string>LSToolbarFilterItem</string>
			<string>NSToolbarSeparatorItem</string>
			<string>NSToolbarSpaceItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>NSToolbarCustomizeToolbarItem</string>
			<string>NSToolbarPrintItem</string>
		</array>
		<key>defaultItemIdentifiers</key>
		<array>
			<string>LSToolbarClearItem</string>
			<string>LSToolbarReloadItem</string>
			<string>LSToolbarInsertMarker</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>LSToolbarFilterItem</string>
		</array>
		<key>itemInfoByIdentifier</key>
		<dict>
			<key>LSToolbarClearItem</key>
			<dict>
				<key>action</key>
				<string>clear:</string>
				<key>imageName</key>
				<string>Clear</string>
				<key>label</key>
				<string>Clear</string>
				<key>paletteLabel</key>
				<string>Clear Display</string>
				<key>toolTip</key>
				<string>Clears the display</string>
			</dict>
			<key>LSToolbarDeleteItem</key>
			<dict>
				<key>action</key>
				<string>deleteFile:</string>
				<key>imageName</key>
				<string>Delete</string>
				<key>label</key>
				<string>Delete</string>
				<key>paletteLabel</key>
				<string>Delete log file</string>
				<key>toolTip</key>
				<string>Permanently deletes the log file</string>
			</dict>
			<key>LSToolbarEncodingItem</key>
			<dict>
				<key>label</key>
				<string>Encoding</string>
				<key>paletteLabel</key>
				<string>Character Encoding</string>
				<key>toolTip</key>
				<string>Changes the character set used to display the log text</string>
				<key>view</key>
				<string>encodingPopUpButton</string>
			</dict>
			<key>LSToolbarFilterItem</key>
			<dict>
				<key>label</key>
				<string>Filter</string>
				<key>paletteLabel</key>
				<string>Filter Log</string>
				<key>toolTip</key>
				<string>Filters for lines containing the specified string.</string>
				<key>view</key>
				<string>searchField</string>
			</dict>
			<key>LSToolbarInsertMarker</key>
			<dict>
				<key>action</key>
				<string>insertMarker:</string>
				<key>imageName</key>
				<string>Mark</string>
				<key>label</key>
				<string>Mark</string>
				<key>paletteLabel</key>
				<string>Insert Marker</string>
				<key>toolTip</key>
				<string>Inserts a time-stamped marker into the log view</string>
			</dict>
			<key>LSToolbarReloadItem</key>
			<dict>
				<key>action</key>
				<string>revertDocumentToSaved:</string>
				<key>imageName</key>
				<string>Reload</string>
				<key>label</key>
				<string>Reload</string>
				<key>paletteLabel</key>
				<string>Reload entire log</string>
				<key>toolTip</key>
				<string>Reloads entire log from disk</string>
			</dict>
		</dict>
	</dict>
	<key>advanced-image-options</key>
	<string>0</string>
	<key>encryption</key>
	<string></string>
	<key>image-format</key>
	<string>UDZO</string>
	<key>nbi-custom-size-units</key>
	<string>2</string>
	<key>resize-custom-size-units</key>
	<string>2</string>
	<key>nbi-image-format</key>
	<string>UDRW</string>
	<key>nbi-image-size</key>
	<string>200000</string>
	<key>nbi-volume-format</key>
	<string>Journaled HFS+</string>
</dict>
</plist>
