<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<string>YES</string>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<string>YES</string>
				<key>FixAirport_4000</key>
				<string>YES</string>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>kext-dev-mode=1</string>
		<key>Log</key>
		<string>YES</string>
	</dict>
	<key>CPU</key>
	<dict/>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>WIFI</key>
			<string>0x43a014E4</string>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>GUI</key>
	<dict/>
	<key>Graphics</key>
	<dict/>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>10.12-BCM94352-5GHz-US-FCC-darkvoid</string>
				<key>Find</key>
				<data>
				gflSqgAAdSk=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				gflSqgAAZpA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BCM94352-5GHz-US-FCC-darkvoid</string>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				ZscGVVPrKw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BCM94352-Airport-Extreme-skvo</string>
				<key>Find</key>
				<data>
				axAAAHUN
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				axAAAJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BT4LE-Handoff-Hotspot-lisai9093</string>
				<key>Find</key>
				<data>
				SIX/dEdIiwc=
				</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				Qb4PAAAA60Q=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BCM94352-0x43b114e4-Info.plist-bpresles</string>
				<key>Find</key>
				<data>
				PHN0cmluZz5wY2kxNGU0LDQzYmE8L3N0cmluZz4=
				</data>
				<key>InfoPlistPatch</key>
				<string>YES</string>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				PHN0cmluZz5wY2kxNGU0LDQzYjE8L3N0cmluZz4=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BCM94352-CC=#a-Ramalama</string>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				ZscGI2HrKw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BCM94352-Whitelest-0x4331-iMac14,3-skvo</string>
				<key>Find</key>
				<data>
				TWFjLUM2RUZBNjM5NjJGQzZFQTA=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				TWFjLTI3QURCQjdCNENFRThFNjE=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BCM94352-Whitelest-0x4353-MacBoolAir5,2-skvo</string>
				<key>Find</key>
				<data>
				TWFjLUM2RUZBNjM5NjJGQzZFQTA=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				TWFjLTI3QURCQjdCNENFRThFNjE=
				</data>
			</dict>
		</array>
	</dict>
	<key>SMBIOS</key>
	<dict/>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>YES</string>
	</dict>
</dict>
</plist>
