<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disk Sizes</key>
	<array>
		<dict>
			<key>label</key>
			<string>2.5MB</string>
			<key>layout</key>
			<string>NONE</string>
			<key>sectors</key>
			<integer>5000</integer>
			<key>units</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>5MB</string>
			<key>layout</key>
			<string>NONE</string>
			<key>sectors</key>
			<integer>10000</integer>
			<key>units</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>10MB</string>
			<key>layout</key>
			<string>NONE</string>
			<key>sectors</key>
			<integer>20000</integer>
			<key>units</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>40MB</string>
			<key>layout</key>
			<string>NONE</string>
			<key>sectors</key>
			<integer>80000</integer>
			<key>units</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>100MB</string>
			<key>layout</key>
			<string>NONE</string>
			<key>sectors</key>
			<integer>200000</integer>
			<key>units</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>500MB</string>
			<key>layout</key>
			<string>UNIVERSAL HD</string>
			<key>sectors</key>
			<integer>1000000</integer>
			<key>units</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>-</string>
		</dict>
		<dict>
			<key>label</key>
			<string>177MB(CD-ROM 8cm)</string>
			<key>layout</key>
			<string>UNIVERSAL CD</string>
			<key>sectors</key>
			<integer>354000</integer>
			<key>units</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>610MB(CD-ROM 74분)</string>
			<key>layout</key>
			<string>UNIVERSAL CD</string>
			<key>sectors</key>
			<integer>1220000</integer>
			<key>units</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>663MB(CD-ROM 80분)</string>
			<key>layout</key>
			<string>UNIVERSAL CD</string>
			<key>sectors</key>
			<integer>1326000</integer>
			<key>units</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>-</string>
		</dict>
		<dict>
			<key>label</key>
			<string>2.5GB(DVD-RAM)</string>
			<key>layout</key>
			<string>UNIVERSAL CD</string>
			<key>sectors</key>
			<integer>5077124</integer>
			<key>units</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>4.6GB(DVD-R/DVD-RAM)</string>
			<key>layout</key>
			<string>UNIVERSAL CD</string>
			<key>sectors</key>
			<integer>9178688</integer>
			<key>units</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>8.3GB(DVD+R DL)</string>
			<key>layout</key>
			<string>UNIVERSAL CD</string>
			<key>sectors</key>
			<integer>16674816</integer>
			<key>units</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>-</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Custom - do not loc</string>
			<key>sectors</key>
			<integer>-1</integer>
		</dict>
	</array>
</dict>
</plist>
