<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file-desc</key>
		<string>Mac OS X Installer</string>
		<key>file-path</key>
		<string>MacOSX.dmg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>filename-extension</key>
		<string>app</string>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>app-id</key>
		<string>com.apple.InstallAssistant.Lion</string>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>app-id</key>
		<string>com.apple.InstallAssistant.MountainLion</string>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>app-id</key>
		<string>com.apple.InstallAssistant.Mavericks</string>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>app-id</key>
		<string>com.apple.InstallAssistant.Yosemite</string>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>app-id</key>
		<string>com.apple.InstallAssistant.ElCapitan</string>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>app-id</key>
		<string>com.apple.InstallAssistant.Sierra</string>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/InstallESD.dmg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>app-name</key>
		<string>Install Mac OS X Lion.app</string>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>app-name</key>
		<string>Install OS X Mountain Lion.app</string>
		<key>is-os-installer</key>
		<true/>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
	</dict>
	<dict>
		<key>app-name</key>
		<string>Install OS X Mavericks.app</string>
		<key>is-os-installer</key>
		<true/>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
	</dict>
	<dict>
		<key>app-name</key>
		<string>Install OS X Yosemite.app</string>
		<key>is-os-installer</key>
		<true/>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
	</dict>
	<dict>
		<key>app-name</key>
		<string>Install OS X El Capitan.app</string>
		<key>is-os-installer</key>
		<true/>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
	</dict>
	<dict>
		<key>app-name</key>
		<string>Install macOS Sierra.app</string>
		<key>is-os-installer</key>
		<true/>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/InstallESD.dmg</string>
	</dict>
	<dict>
		<key>filename-extension</key>
		<string>app</string>
		<key>parent-path</key>
		<string>Applications</string>
		<key>required-subpath</key>
		<string>Contents/SharedSupport/OSInstall.mpkg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>OS Install - OS X and standard applications</string>
		<key>file-path</key>
		<string>System/Installation/Packages/OSInstall.mpkg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>OS Install - OS X and standard applications</string>
		<key>file-path</key>
		<string>Packages/OSInstall.mpkg</string>
		<key>is-os-installer</key>
		<true/>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>Bundled Software Install — Applications included with OS X</string>
		<key>file-path</key>
		<string>Install Bundled Software.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>Software Restore - Classic and third-party applications</string>
		<key>file-path</key>
		<string>.images</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife Installer</string>
		<key>file-path</key>
		<string>Install iLife.pkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife DVD</string>
		<key>file-path</key>
		<string>Packages/iLife_DVD+.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife ’05 Installer</string>
		<key>file-path</key>
		<string>Individual Packages/Packages/iLife 05 SD.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife ’06 Installer</string>
		<key>file-path</key>
		<string>Individual Packages/Packages/iLife 06 SD.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife ’06 Installer</string>
		<key>file-path</key>
		<string>iLife 06.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife ’08 Installer</string>
		<key>file-path</key>
		<string>iLife 08.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife ’08 Installer</string>
		<key>file-path</key>
		<string>iLife &apos;08.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife ’09 Installer</string>
		<key>file-path</key>
		<string>iLife &apos;09.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iWork Installer</string>
		<key>file-path</key>
		<string>Packages/iWork.pkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>Apple Developer Tools</string>
		<key>file-path</key>
		<string>Developer.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife CD</string>
		<key>file-path</key>
		<string>Packages/iLife_CD.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife DVD</string>
		<key>file-path</key>
		<string>installer/install_dvd.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iPod 2.0.1 Installer</string>
		<key>file-path</key>
		<string>iPod Installer/iPod201.pkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>AirPort Installer</string>
		<key>file-path</key>
		<string>AirPort.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>Power Mac G4 Software Restore</string>
		<key>file-path</key>
		<string>Configurations/Power Mac G4 HD.img</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>Install Jam Pack 4 Symphony Orchestra</string>
		<key>file-path</key>
		<string>Packages/Install Jam Pack 4 Symphony Orchestra Part I.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iWork ’08 Trial</string>
		<key>file-path</key>
		<string>Packages/iWork08Trial.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iLife ’08 Installer</string>
		<key>file-path</key>
		<string>iLife &apos;08.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iWork ’08 Installer</string>
		<key>file-path</key>
		<string>Packages/iWork08.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>iWork ’09 Installer</string>
		<key>file-path</key>
		<string>Packages/iWork09.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>Xcode Installer</string>
		<key>file-path</key>
		<string>Packages/XCodeTools.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>Optional Bundled Software</string>
		<key>file-path</key>
		<string>Install Bundled Software.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>Logic Studio</string>
		<key>file-path</key>
		<string>Installer/LogicStudio.mpkg</string>
	</dict>
	<dict>
		<key>file-desc</key>
		<string>Final Cut Studio</string>
		<key>file-path</key>
		<string>Installer/FinalCutStudio.mpkg</string>
	</dict>
</array>
</plist>
