<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filename</key>
		<string>MacOSX.dmg</string>
		<key>wrapped-packages</key>
		<array>
			<dict>
				<key>file-desc</key>
				<string>Mac OS X Installer</string>
				<key>file-path</key>
				<string>System/Installation/Packages/OSInstall.mpkg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>filename-extension</key>
		<string>app</string>
		<key>wrapped-packages</key>
		<array>
			<dict>
				<key>file-desc</key>
				<string>OS X Installer</string>
				<key>file-path</key>
				<string>Contents/SharedSupport/OSInstall.mpkg</string>
			</dict>
			<dict>
				<key>file-desc</key>
				<string>macOS Installer</string>
				<key>file-path</key>
				<string>Contents/SharedSupport/InstallESD.dmg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>filename</key>
		<string>InstallESD.dmg</string>
		<key>wrapped-packages</key>
		<array>
			<dict>
				<key>file-desc</key>
				<string>OS X Installer</string>
				<key>file-path</key>
				<string>Packages/OSInstall.mpkg</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
